//- the model, the data
-
    var header = '#what I can do';
    var whatCanIDoList = [
        {
            title: 'Front End',
            skillList: [
                'Html 4/5',
                'CSS 2/3',
                'SEO',
                'ECMASCRIPT 6 (ES6/7)',
                'JavaScript',
                'UI',
                'UX',
                'Boostrap',
                'Foundation',
                'Jade',
                'Pug',
                'jQuery',
                'Grunt',
                'Gulp',
                'API',
                'Sass',
                'Bourbon',
                'Less',
                'Photoshop',
                'Illustrator'
            ]
        },
        {
            title: 'Back End',
            skillList: [
                'PHP',
                'Git',
                'MySQL',
                'SVN',
                'Linux',
                'Apache',
                'REST',
                'Agile',
                'NodeJs',
                'Firebase'
            ]
        },
        {
            title: 'Tools',
            skillList: [
                'Windows(all)',
                'Linux(Ubuntu, RedHad, CentOS)',
                'Mac',
                'Google Webmaster Tools',
                'Google AdWords',
                'Google Analytics',
                'World',
                'Excel',
                'PowerPoint'
            ]
        }
    ];
//- the presentation, the view
#what-can-i-do
.what-can-i-do
    .what-can-i-do__wrapper
        .what-can-i-do__header=header
        each whatCanIDo in whatCanIDoList
            .what-can-i-do__title=whatCanIDo.title
            .what-can-i-do__list
                each skill in whatCanIDo.skillList
                    .what-can-i-do__skill=skill